# Web API
flask

# Traitement vidéo et images
opencv-python
opencv-contrib-python
imageio
moviepy

# Manipulation des données
numpy
pandas
scikit-learn
matplotlib
seaborn

# Traitement NLP + LLM local si besoin
transformers
sentencepiece
torch

# Génération de rapports PDF
reportlab
fpdf

# Utilitaires
tqdm
requests
python-dotenv

# Pour heatmaps personnalisées et overlay graphique
scipy
Pillow

# Optionnel (YOLOv5 ou détection objets)
ultralytics
gunicorn

